.meterial-red
{
  color: #f44336;
}
.material-violet
{
  color: #9c27b0;
}
.material-green-grass
{
  color: #388e3c;
}
.material-blue
{
  color: #3f51b5;
}
.material-orange
{
  color: #ff9800;
}
.material-grey
{
  color: #607d8b;
}
.material-pink
{
  color: #e91e63;
}
.material-tea
{
  color: #8bc34a;
}
.material-green-old
{
  color: #2e7d32;
}
