*{
	margin: 0;
	padding: 0;
}

html, body
{
	min-width: 1150px;
}

body{
	background: #ededed !important;
}

a, p, h1, h2, h3, h4, label{
	font-family: 'Roboto', 'Oswald',sans-serif;
}

#menu {
    background-color: #263238;
    border-radius: 0;
    /*border-bottom: solid 3px #6498a3;*/
}

#menu .navbar-brand {
    margin-top: 14px;
    margin-bottom: 11px;
    padding: 1px 1px;
    height: auto;
    text-transform: uppercase;
}

.tengah {
    width: 83%;
    margin: auto;
}

.navbar-header {
    float: left;
}

.menu-header .navbar-nav{
	float: right;
}

.menu-header .navbar-nav li form{
	margin-top: 12px;
	margin-right: 60px;
}

.menu-header .navbar-nav li form input{
	padding: 7px 60px 7px 7px;
}

.menu-header .navbar-nav li form button:hover{
	background: #d65811 !important;
}

.menu-header .navbar-nav li form button{
	padding: 9px 18px;
	margin-left: -5px;
	background: #f27935;
	border: none;
	color: white;
}

/*.menu-header .navbar-nav li:last-child{
	background: #F27935;
	cursor: pointer;
}*/

/*.menu-header .navbar-nav li:last-child a:hover{
	background: rgba(255,255,255,.1) !important;
	text-decoration: none;
}*/

.menu-header .navbar-nav li{
	/*background: #F27935;*/
	cursor: pointer;
}

.menu-header .navbar-nav li a:hover{
	background: rgba(255,255,255,.1) !important;
	text-decoration: none;
}

/* .menu-header .navbar-nav li:last-child::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 8px solid #2c3e50;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
} */

.menu-header ul li a{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: #ffffff !important;
	padding: 25px;
}

.menu-header ul li a:hover{
	text-decoration:underline;
	background: transparent;
}

.menu-header ul li a:focus{
	text-decoration: underline;
	background: transparent;
}


.logo img{
	/*height: 35px;*/
	float: left;
	vertical-align: middle;
	/*height: 35px;*/
	width: 160px;
}

#bagian-atas ul li{
	display: inline;
}

.wrapper{
	width: 1150px;
	margin: 0 auto;
	text-align: center;
	/*overflow: hidden;*/
}

.iklan{
	overflow: hidden;
	 position: relative;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	/* background: black; */
	 margin-top: 75px;
}

.iklan .login-background{
	width: 1150px;
	/* background: black; */
	/* margin: 0 auto; */
	padding: 35px 0;
	position: absolute;
	top: 55px;
	left: 15px;
}

.iklan .login-background .kotak-daftar{
	width: 306px;
}

.iklan .login-background .kotak-daftar h3{
	padding: 15px 25px;
	background: #2c3e50;
	margin: 0;
	color: white;
	border-radius: 6px 6px 0 0;
}

.iklan .login-background .kotak-daftar .form-pendaftaran{
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background: white;
	/* float: left; */
	padding: 25px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
/* 	position: absolute;
	left: 50px;
	top: 120px; */
	border-radius: 0 0 6px 6px;
}

.iklan .login-background .kotak-daftar .form-pendaftaran input{
	display: block;
	padding: 7px;
	margin-bottom: 15px;
	border-radius: 4px;
	border: 1px solid gray;

}

.iklan .login-background .kotak-daftar .form-pendaftaran button{
	margin-top: 15px;
	width: 100%;
}
.arah-kiri, .arah-kanan
{
	position: absolute;
	top:40%;
}
.arah-kiri
{
	left:20px;
}
.arah-kanan
{
	right: 20px;
}
/* .iklan .arah-kiri, .iklan .arah-kanan{
	font-size: 50px;
	position: absolute;
	top: 50%;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 15px;
	background: gray;
	opacity: 0.2;
}

.iklan .arah-kiri:hover, .iklan .arah-kanan:hover{
	opacity: 1;
}

.iklan .arah-kanan{
	right: 0;
}

.iklan .arah-kiri{
	left: 0;
}

.slide-iklan{
	margin-top: 70px;
	transition: 3s linear;
}

.slide-iklan img{
	float: left;
}

.slide-iklan-kecil img{
	margin-left: 10px;
}

.slide-iklan-kecil img:last-child{
	margin-top: 10px;
}
 */
.fanpage{
	width: 600px;
	position: absolute;
	top: 220px;
	right: 23px;
	text-align: center;
}

.fanpage h1{
	font-size: 60px;
	font-weight: bold;
	margin: 0;
}

.fanpage h3{
	margin: 0;
}

.fanpage .sosmed-1{
	background: #6577C2;
	border: none;
	padding: 15px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
	margin: 25px 5px;
}

.fanpage .sosmed-2{
	background: #33ccff;
	border: none;
	padding: 15px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
	margin: 25px 5px;
}

.menu-bawah ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	/*margin-top: 30px;*/
	margin-bottom: 10px;
	background: #009688;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.menu-bawah ul li{
/* 	background: #6498a3;  */
	display: inline-block;
	float:none;
}

.menu-bawah ul li a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 16px;
	margin-right: 0;
	border-radius: 0;
}

.menu-bawah ul li a:hover{
	background: #7ab2c9;
	border-color: transparent;
}

.form-detail{
	overflow: hidden;
	background: white;
	border: 1px solid #ddd;
	border-top: transparent;
	border-bottom: transparent;
}

.form-detail select{
	float: right;
	margin: 15px 7px;
	padding: 10px;
	cursor: pointer;
	border-color: #a9a9a9;
}

.form-detail option{
	padding: 5px;
}

.form-detail p{
	display: inline-block;
	margin: 14px 0px;
	font-size: 16px;
	padding: 10px;
	float: right;
}

.form-detail .input-harga{
	float: left;
	margin: 15px 7px;
}

.form-detail .input-harga input{
	padding: 8px;
}

.form-detail .input-harga select{
	margin: 0 0 0 10px;
	float: right;
}

.form-detail button{
	margin: 15px 3px;
	float: left;
	padding: 9px 30px;
	border-radius: 0;
}

.foto-dagangan[data-layout="iklan_baris"]
{
	display: inline-block;
}

.foto-dagangan{
	width: 100%;
	padding:30px 40px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	text-align: left;
	background: white;
	border: 1px solid #ddd;
	border-top: transparent;
}

.foto-dagangan li{
	list-style-type: none;
	/*display: inline-block;*/
	position: relative;
	min-height: 310px;
	width: 200px;
	height: auto;
	border: 1px solid #ddd;
	margin: 4px 3px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
	        box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}

.foto-dagangan[data-layout="iklan_baris"] li
{
	min-height: auto;
	width: 175px;
}

.foto-dagangan li.line
{
	margin:0;
	margin-left:-1px;
	border-right:1px solid black;
	border-left:1px solid black;
	background:#d8d8d8;
}

.foto-dagangan li.line::after
{
	content: '';
	position: absolute;
	border-bottom: 1px solid black;
	width: 90%;
	right: 0;
	left:0;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
}

.foto-dagangan li:hover{
	border: 1px solid skyblue;
}

.foto-dagangan li a{
	text-decoration: none;
	color: #464646;
}

.foto-dagangan li img{
	width: 198px;
	height: 200px;
	-o-object-fit: contain;
	   object-fit: contain;
		 background-color: rgba(250, 250, 250, 0.71);
		 /*-webkit-filter: blur(10px);
		         filter: blur(10px);
						 -webkit-transform: scale(1);
						         transform: scale(1);*/
}

/*.foto-dagangan li img[data-blur='true']
{
	-o-object-fit: cover;
	   object-fit: cover;
		 background-color: rgba(158, 158, 158, 0.32);
}*/


.foto-dagangan figcaption{
	padding: 12px 12px 60px;
	min-height: 113px;
}

/* NB: tambahan style */
.foto-dagangan figcaption div
{
	font-size: 13px;
}

.foto-dagangan figcaption div.icon-btm-left{
	position: absolute;
	bottom: 10px;
	left:10px;
}

.foto-dagangan figcaption div.icon-btm-right{
	position: absolute;
	bottom: 10px;
	right:10px;
}


.foto-dagangan h4{
	color: #f44336;
	font-weight: bold;
	margin: 0;
}
.foto-dagangan h4.price-tag
{
	position: absolute;
	bottom: 30px;
	left: 10px;
}

.foto-dagangan h3{
	font-size: 15px;
	text-align: center;
	margin: 0 0 20px;
}

.iklan-lebar{
	margin-bottom: 10px;
}

footer{
	width: 100%;
	background: #263238;
	/*border-top: solid 4px #6498a3;*/
	margin-top: 215px;
	position: relative;
}
footer::before
{
	content: "";
	background: url("../../images/file_sky.png") repeat-x 0 0 / 865px 200px;
	position: absolute;
	width: 100%;
	height:135%;
	bottom: 95%;
	left:0;
	right:0;
}

.footer1{
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	padding: 15px 0;
}

.footer1 ul{
	list-style: none;
	/*display: -webkit-box;
	display: -ms-flexbox;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	margin-bottom: 7px;
}

.footer1 li a{
	font-size: 15px;
	color: #ffffff;
	padding-left: 13px;
}

.footer1 p{
	text-align: center;
	color: white;
	margin-bottom: 0;
}

.footer1 .garis-footer{
	border: 1px solid #c75f5f;
	width: 20%;
	margin: 0 auto;
	border-radius: 4px;
}

.footer1 .footer-law{
	margin-top: 5px;
}


/* MODAL */

#masuk .modal-dialog{
	width: 380px;
	margin: 90px auto;
}

.modal-content .modal-body{
	text-align: center;
}

.modal-content .modal-body input{
	width: 80%;
	padding: 7px;
	margin-bottom: 10px;
}

.modal-content .modal-body button{
	width: 80%;
}

.modal-content .modal-footer h4{
	float: left;
	font-size: 14px;
}




/* CSS BARANG */

.bungkus{
	width: 1150px;
	overflow: hidden;
	margin: 0 auto;
}

.detail-barang, .detail-form{
	width: 800px;
	background: white;
	margin-right: 10px;
	float: left;
	padding: 15px;
	margin: 75px 0 10px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
}

.detail-form h1{
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	font-weight: 400;
}

.detail-form form .df input[type=text], .detail-form form .df input[type=email], .detail-form form .df select, .detail-form form .df textarea{
	width: 430px;
	padding: 6px 7px;
}

.detail-form form .df input[type=radio]:not(old){
	width: 15px;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 1;
}

.detail-form form .df{
	margin-bottom: 10px;
}

.detail-form form .df label{
	margin-right: 30px;
}

.detail-form form .df h4{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 200px;
}

.detail-form form .df textarea{
	height: 180px;
	resize: none;
	margin-left: 4px;
}

.detail-form .simpan{
	float: right;
	padding: 6px 30px;
}

.detail-form form .df .buf{
	display: inline-block;
	width: 85px;
	height: 85px;
	border: 1px dashed #a9a9a9;
	margin-right: 5px;
	cursor: pointer;
}

.detail-form form .df .buf i{
	font-size: 35px;
	color: rgba(111, 106, 106, 0.32);
	position: relative;
	top: 23px;
	left: 23px;
}

.slide-barang{
	text-align: center;
	position: relative;
}

.slide-barang a{
	font-size: 30px;
	/*text-decoration: none;*/
	cursor: pointer;
	color: #fafafa;
	text-shadow: 0 0 5px #37474f;
}

.slide-barang a:hover{
	text-decoration: none;
}

.gambar-gambar{
	margin-bottom: 10px;
}

.gambar-gambar > img
{
	width: 100%;
	height: 500px;
	-o-object-fit: contain;
	   object-fit: contain;
		 background-color: rgba(250, 250, 250, 0.71);
}

.judul-barang .fa{
	padding-right: 7px;
}

.judul-barang h2:last-child{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.judul-barang h2:first-child{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 20px;
}

.deskripsi-barang h3{
	border-top : 1px dashed #b9b9b9;
	padding-top: 10px;
}

.deskripsi-barang div.belanja-aman{
	width: 100%;
	background: #ce6161;
	padding: 20px;
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-top: 25px;
}

.iklan-barang{
	width: 340px;
	background: #ededed;
	float: right;
	margin-top: 75px;
}

.identitas-penjual
{
	margin-top: 15px;
	text-align: center;
	padding:5px 0;
}

.bungkus-penjual{
	background: white;
	padding: 15px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
	display: table;
	min-width: 340px;
}

.foto-penjual{
	/*float: left;*/
	text-align: center;
}

.foto-penjual img{
	width: 150px;
	height: 150px;
	border-radius: 200px;
	margin:10px auto 20px;
	/*margin-right: 10px;
	margin-bottom:10px;*/
}

.identitas-penjual h3{
	margin: 0;
	margin-bottom: 7px;
	font-family: 'Roboto', sans-serif;
}

.identitas-penjual h4{
	margin: 5px 0;
	font-family: 'Roboto', sans-serif;
}

.tombol-penjual button{
	width: 100%;
	border-radius: 0;
	margin-top: 10px;
}

.sosmed-penjual{
	text-align: center;
	margin-top: 15px;
	padding-top: 8px;
	border-top: 1px solid #b9b9b9;
}

.sosmed-penjual.dashed
{
	border-top-style: dashed;
	text-align: right;
}

.sosmed-penjual.dashed > a
{
	width: 3em;
}

.sosmed-penjual a:hover{
	text-decoration: none;
}

.sosmed-penjual p{
	float: left;
	margin-right: 15px;
	margin-top: 8px;
	font-size: 18px;
}

.sosmed-penjual img{
	width: 30px;
	margin: 5px;
}

.bungkus-detail{
	background: white;
	margin-top: 10px;
	padding: 15px;
	font-size: 15px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
}

.bungkus-info{
	background: white;
	padding: 15px;
	font-size: 15px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
}

.bungkus-info h3{

}

.bungkus-info ol{
	margin-left: 20px;
}

.bungkus-detail i{
	float: left;
	padding-top: 7px;
	width: 30px;
	text-align: center;
	color: #ce6161;
}

.detail-kategori p:last-child, .detail-waktu p:last-child, .detail-lokasi p:last-child, .detail-view p:last-child, .detail-rating p:last-child{
	float: right;
	margin: 5px 0;
}

.detail-kategori p:first-child, .detail-waktu p:first-child, .detail-lokasi p:first-child, .detail-view p:first-child, .detail-rating p:first-child{
	float: left;
	font-weight: bold;
	margin: 5px 0;
}

.detail-kategori, .detail-waktu, .detail-lokasi, .detail-view, .detail-rating{
	overflow: hidden;
	margin: 7px 0;
}

.bungkus-iklan{
	margin-top: 10px;
}



/* PROFIL PERUSAHAAN */

.kotak-profil{
    width: 1150px;
    background: white;
    margin: 75px auto 10px;
}

.kotak-profil .identitas-perusahaan, .kotak-profil .identitas-team{
	padding: 15px;
}


.kotak-profil .identitas-team{
	text-align: center;
}

.kotak-profil .identitas-team h2{
	text-align: center;
	margin-bottom: 30px;
	font-size: 40px;
}

.kotak-profil .identitas-team .profil{
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.kotak-profil .identitas-team .profil .sosmed-team img{
	width: 30px;
	margin: 0 5px;
}

.kotak-profil .identitas-team .profil img{
	width: 150px;
	border-radius: 50%;
	margin: 0 25px;
}




/* BANTUAN */
.kotak-bantuan{
	width: 1150px;
	margin: 75px auto 10px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	background: white;
	padding: 15px;
	overflow: hidden;
}

.kotak-bantuan .bantuan{
	width: 250px;
	float: left;
	margin-right: 15px;
}


/* PROFIL PENJUAL */
.k-profil{
	width: 250px;
	height: 604px;
	float: left;
	margin-right: 15px;
}

#profil img{
	width: 170px;
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f27935;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: red ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:last-child{
	border-top: 1px solid white;
}

.dropdown-content a:hover {background: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.detail-biodata{
	background: white;
	padding: 15px;
	-webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	        box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
	overflow: hidden;
	margin: 75px auto 0;
}
.detail-biodata.foto-container
{
	float: left;
	width: auto;
	margin-top: 0;
}
.detail-biodata.info-container
{
	width: 77%;
}


.detail-biodata .satu, .detail-biodata .dua, .detail-biodata .tiga{
	padding: 10px;
}

.detail-biodata .satu{
	background: rgb(244, 246, 245);
	width: 305px;
	height: 445px;
	float: left;
}

.dua label > img
{
	border-radius: 200px;
	width: 200px;
	height: 200px;
	-o-object-fit: cover;
	   object-fit: cover;
}

.detail-biodata .dua .nav li.active a{
	background: none;
	border: 1px solid #2c3e50;
	color: #2c3e50;
}

.detail-biodata .tiga{
	background: rgb(244, 246, 245);
	width: auto;
	/*height: 300px;*/
	overflow: hidden;
	margin-top: 45px;
}

.deskripsi-barang ol, .deskripsi-barang ul
{
	margin-left: 20px;
}

.search-container
{
	text-align: center;
	border-radius: 20px;
	margin: 10px 0;
	width: 100%;
	background: -webkit-gradient(linear, left top, right top, from(rgba(44, 62, 80, 0.38)), to(rgba(103, 157, 165, 0.5)));
	background: linear-gradient(to right, rgba(44, 62, 80, 0.38), rgba(103, 157, 165, 0.5));
}

.search-container > form
{
	padding: 25px;
	text-align: left;
}

.search-container form > .form-control
{
	margin-right: 6px;
	vertical-align: middle;
	position: relative;
	padding:6px 12px;
}

.search-container form > .form-control input
{
	outline: none;
}

.kategori-dagang ul li
{
	list-style: none;
	width: 24%;
	display: inline-block;
	padding: 20px 10px;
	text-align: center;
}

.kategori-dagang ul li a
{
	text-decoration: none;
}

.kategori-dagang ul li span
{
	padding-bottom: 10px;
	font-size: 50px;
	display: block;
}

.container-iklan-baris
{
	background: white;
	width: 100%;
	margin: 10px 0;
}

.dropdown[data-style="triangle"]::before
{
	content: '';
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid white;
	top:-20px;
	left:200px;
}

.dropdown[data-style="triangle"] > .kabkota-container
{
	display: table;
	table-layout: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 0 2000px rgba(102,102,102,0.4);
	-webkit-box-shadow:0 0 0 2000px rgba(102,102,102,0.4);
}
.dropdown[data-style="triangle"] > .kabkota-container ul
{
	padding: 10px 0;
}
.dropdown[data-style="triangle"] > .kabkota-container ul li a
{
	padding:6px 28px 6px 12px;
	display: block;
}

.colom
{
	display: table-cell;
	border-left: 1px solid #ccc;
}
.width25
{
	width: 25%;
}

.none
{
	display: none;
}

.social-media
{
	margin-top: 10px;
	text-align: center;
}

.sprite-media
{
  background: url("../../images/social_media/4794x72.png") no-repeat;
  width:100px;
  height:101px;
  zoom:0.5;
  display: inline-block;
}
.sprite-media:hover
{
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  background: url("../../images/social_media/4794x72_color.png") no-repeat;
}

.sprite-media.facebook
{
  background-position: -35px -42px ;
}

.sprite-media.twitter
{
  background-position: -665px -165px ;
}
.sprite-media.linkedin
{
  background-position: -665px -288px ;
}
.sprite-media.googleplus
{
  background-position: -539px -42px ;
}
.sprite-media.youtube
{
  background-position: -539px -165px ;
}

table.table-search
{
	margin: 0 auto;
}
table.table-search table
{
	border: 1px solid #e0e0e0;
}

table.table-search table td
{
	padding:0;
}

table.table-search tr:hover
{
	background-color: #f5f5f5;
	-webkit-transition: background-color .5s linear;
	transition: background-color .5s linear;
}

.user-container
{
	position: relative;
}

/*.user-container::after
{
	position: absolute;
	content: '';
	border:1px dashed #f27935;
	width: 15em;
	left: 0;
	right: 0;
	margin: 0 auto;
}*/
