html,body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*overflow-y: auto ;*/
}

.ads
{
  position: relative;
  margin-top: 10px;
  font-size: 70px;
  /*border:1px solid red;*/
}
.ads.font_100
{
  font-size: 200px;
}

.ads > .__filter_img
{
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 7;
  color:#fff;
  font-size: 2em ;
}

.ads > .__filter_img._blue
{
  background: rgba(147,206,222,0.41);
  background: -moz-linear-gradient(top, rgba(147,206,222,0.41) 0%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,0.41)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(top, rgba(147,206,222,0.41) 0%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(top, rgba(147,206,222,0.41) 0%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(147,206,222,0.41) 0%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to bottom, rgba(147,206,222,0.41) 0%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
}
.ads > .__font_iklan_kat
{
  font-size: 5rem;
}

.ads > .__filter_img._violet
{
  background: linear-gradient(10deg, rgba(218, 23, 250, 1), rgba(123, 0, 143, 0));
}

.ads > .__filter_img._yellowbright
{
  background: linear-gradient(7deg, rgba(240, 148, 41, 1), rgba(123, 0, 143, 0));
}

.ads > .__filter_img._black
{
  background: rgba(0, 0, 0, 0.62);
}

.ads._2_col_slide
{
  min-width: 183px;
  min-height: 183px;
}

.ads._2_col_isi_slide
{
  min-width: 130px;
  min-height: 130px;
}

.ads._3_col
{
  min-width: 268px;
  min-height: 150px;
}

.ads._3_col_main_kat
{
  min-width: 291px;
  min-height: 291px;
}

.ads._4_col
{
  min-width: 368px;
  min-height: 207px;
}

.ads._4_col_mini
{
  min-width: 122px;
  min-height: 95px;
}

.ads._5_col
{
  min-width: 498px;
  min-height: 315px;
}

.ads .__name_container
{
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 2.3em 0;
  width: 100%;
  font-size: 4rem;line-height: 0;
}

.ads img
{
  width: 100%;
}

.ads span
{
  position: absolute;
  bottom: 0;
  width:100%;
  padding-bottom: 10px;

  text-align: center;
  /*line-height: 2;*/
  text-transform: uppercase;
  color: lightgoldenrodyellow;
}

.n_p
{
  padding: 0;
}

.n_pr
{
  padding-right: 0;
}

.n_pl
{
  padding-left: 0;
}

.slide_blue
{
  background: rgba(1,101,154,1);
  background: -moz-linear-gradient(left, rgba(1,101,154,1) 34%, rgba(1,101,154,0.81) 100%);
  background: -webkit-gradient(left top, right top, color-stop(34%, rgba(1,101,154,1)), color-stop(100%, rgba(1,101,154,0.81)));
  background: -webkit-linear-gradient(left, rgba(1,101,154,1) 34%, rgba(1,101,154,0.81) 100%);
  background: -o-linear-gradient(left, rgba(1,101,154,1) 34%, rgba(1,101,154,0.81) 100%);
  background: -ms-linear-gradient(left, rgba(1,101,154,1) 34%, rgba(1,101,154,0.81) 100%);
  background: linear-gradient(to right, rgba(1,101,154,1) 34%, rgba(1,101,154,0.81) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01659a', endColorstr='#01659a', GradientType=1 );
}

.slide_green
{
  background: linear-gradient(0deg, #386622, #196113);
}

.yt_black_bg
{
  position: absolute;
  background-color: rgba(9, 9, 3, 0.80);
  top:0;
  min-width: 100%;
  /*min-height: inherit;*/
  text-align: center;
  z-index: 16;
}

/*.yt_black_bg::before
{
  content: '';
  background: url(../../images/frame_video_tron/c54df5b0fca31e19fc533bfbf8e78641.jpg) repeat;
  position: absolute;
  height: 1600px;
  width: 80%;
  z-index: -1;
  margin: 75% 0;
}*/

/*.yt_black_bg > iframe
{
  padding:40px 40px;
  margin: 80% 0;
  background-color: #fff;
}*/
